name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "staging", "dev" ]
  pull_request:
    branches: [ "main", "staging", "dev" ]

jobs:
  quality-gate:
    name: Quality Gate (Python & Infra)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Quality Checks and Tests
        env:
          PYTHONPATH: ${{ github.workspace }}/src
          AWS_DEFAULT_REGION: eu-west-3
        run: |
          # Use flake8 to find critical syntax errors
          flake8 ./src --count --select=E9,F63,F7,F82 --show-source --statistics
          # Run logic tests using pytest
          pytest ./tests